/* Sorry about the background. The page looked so empty. */
body {
  background-image: url("https://images4.alphacoders.com/220/thumb-1920-220564.jpg");
}

/* This code converts all images to the same dimensions */
img {
width: 100px;
height: 100px;
}

#statsbutton {
  position:absolute;
  top: 1%;
  left: 67%;
}

#heroname {
  position:absolute;
  top: 3%;
  left: 67%;
}

#summonboss {
  position:absolute;
  top: 5%;
  left: 67%;
}

#superweapon {
  position:absolute;
  top: 7%;
  left: 67%;
}